@import url('https:fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');
@font-face
 {
 	font-family:nasalization;
 	src:url(nasalization.ttf);
 }
*{
    margin:0;
    padding:0;
    user-select:none;
    transition:.3s ease-out;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
    scroll-behavior:;
    cursor:default;
}
body {
max-height:100vh;
}
.noscroll{
    height:100%;
    overflow:hidden;
}
header nav{
    position:fixed;
    width:100%;
    height:100vh;
    right:0;
    top:0;
    justify-content:center;
    align-items:center;
    background:rgba(0,16,32,.75);
    transform:scaleY(0);
    transform-origin:0 0;
    overflow:scroll;
    z-index:100;
}
.snav{
    transform:scaleY(1);
}
header nav .nav{
    position:absolute;
    padding:0;
    margin:0;
    height:80vh;
    width:70%;
    top:40px;
    right:0;
    align-items:center;
    background:#000f18;
    overflow:scroll;
    z-index:9;
}
header nav .nav li{
    margin:0;
    text-align:left;
    color:#def;
    transition:0.1s ease-out;
}
header nav .nav li a {
    padding:20px 20px;
    width:100%;
    color:#def;
    display:block;
    font-size:1.0em;
}
header nav .nav li a i{
    color:#456;
    padding:0 10px;
    font-size:1.0em;
    font-weight:400;
    
}
.active{
    background:#002;
}
nav .nav li:hover, nav .nav li:active{
    background:#4c8bf5;
    color:#fff;
}

.bar{
    position:fixed;
    display:flex;
    top:0;
    left:0;
    width:100%;
    height:40px;
    align-items:center;
    box-shadow: 0 1px 5px 0px #112;
    background:rgba(0,8,16,.9);
    z-index:110;
}
.logoh{
	padding:0;
	position:absolute ;
	text-align:center;
	white-space:nowrap;
	font-family:nasalization;
	overflow:hidden;
}
.bar .logo1{
    position:absolute;
    left:5%;
    color:#513;
    width:1.3em;
    line-height:1em;
    font-weight:400;
    font-size:3.0em;
}

.bar .logo1:before{
    content:"";
    position:absolute;
    left:-5%;
    top:40%;
    width:150%;
    height:120%;
    border-top:1px solid #4568ff;
    border-radius:50%;
    transform:rotate(-20deg);
    z-index:-1;
}
.tnav{
    position:absolute;
    width:30px;
    height:30px;
    right:5%;
    align-items:center;
    justify-content:center;
    display:flex;
    flex-direction:column;
}
.tnav .mn{
    position:relative;
	margin:12% 0;
	width:80%;
	height:3px;
	border-radius:20px;
	background:#cde;
	display:block;
}
.tnav .mn2{
	margin: 0;
	width:90%;
}
.activetnav{
transform:rotate(180deg);
}
.tnav:hover .mn{
    background:#4c8bf5;
}

.activetnav .mn2{
   width:0;
}

.header{
    position:absolute;
    top:40%;
    left:50%;
    width:200px;
    height:150px;
    transform:translate(-50%,-50%);
    justify-content:center;
    align-items:center;
    display:flex;
    background :rgba(48,80,112,0);
    box-shadow:inset 0 0 5px rgba(32,48,128,0);
    overflow:hidden;
    z-index:5;
}
.logo, .hr, .h3{
    position:absolute;
    transform:translate(-50%,-50%);
}

.header .logo{
    position:absolute;
    top:35%;
    left:50%;
    width:85%;
    height:35%;
    text-align:center;
    box-sizing:border-box;
    display:block;
    overflow:hidden;
}
.header .logo .h1{
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    color:rgba(0,0,0,0);
    font-weight:400;
    font-size:3.3em;
    line-height:0.95em;
}
.header .logo .horizon{
    position:absolute;
    left:-10%;
    top:15%;
    width:120%;
    height:150%;
    border-top:1px solid #4568ff;
    border-radius:50%;
    transform-origin:50%;
    transform:rotate(-15deg) scale(0);
    z-index:-1;
}

.header .hr{
    top:70%;
    left:10%;
    width:80%;
    height:1px;
    transform:scaleX(0);
    transform-origin:0;
    background:#def;
}
.header .h3{
    bottom:10%;
    left:50%;
    letter-spacing:0.4em;
    font-size:0.8em;
    font-weight:350;
    font-family: 'Baloo Da 2';
    color:rgba(0,0,0,0);
    white-space:nowrap;
}

.loader{
    position:fixed;
    display:block;
    left:0;
    width:100%;
    height:100vh;
    background:#def;
    z-index:1000;
    transition:none;
}
.loader h1{
    position:absolute;
    width:70px;
    height:70px;
    top:50%;
    left:50%;
    font-weight:350;
    font-size:4.0em;
    transform:translate(-50%,-50%);
    text-align:center;
    font-family:nasalization;
    color:transparent;
    overflow:hidden;
    animation:col 2.5s infinite ease-out;
}
.loader h1:before{
    content:"";
    position:absolute;
    top:45%;
    left:10%;
    width:130%;
    height:130%;
    border-top:1px solid #abc;
    border-radius:50%;
    z-index:-2;
    animation:rot 2.5s infinite ease-in;
}
.slide{
    position:absolute;
    width:15px;
    height:15px;
    left:50%;
    bottom:15%;
    transform:rotate(-135deg);
    transform-origin:0;
    border-radius:2px;
    animation:slide 1.5s 3s infinite ease-out;
    z-index:6;
}

.sec#about .txtbx p{
	opacity:0;
	transform:translateY(0);
	transition:.3s .25s ease-out;
	
}
.sec#about .slideB p{
	    opacity:1;
	    transition:.3s ease-out;
	    animation:fio .7s ease-out;
	    }
	@keyframes fio{
	
	0%,50%{transform:translateY(2em);
	opacicy:0;}
	    100%{transform:translateY(0);}
	}
@keyframes slide
{
     0%{
         bottom:15%;
         border-left:3px solid #def;
         border-top:3px solid #def;
         }
     100%{
         bottom:5%;
         border-left:2px solid transparent;
         border-top:2px solid transparent;
     }
}

@keyframes rot
{
     0%{transform:rotate(360deg);}
     100%{transform:rotate(0deg);}
}

@keyframes col
{
     0%,100%{color:rgba(0,0,0,0);}
     50%{color:#abc;}
}

.sec{
    width:100%;
    padding:0;
    margin:0;
    position:relative;
    min-height:100vh;
    display:;
    justify-content:center;
    align-items:center;
    background:#def;
    box-sizing:border-box;
    background-attachment:fixed;
}
.sec#projects{
	margin:0;
	padding:0;
}
.sec#gallery {
	background:#714;
}
.sec#gallery .title h2{
	color:#abc;
}
.sec#gallery .title .thr{
	background:#abc;
}
.sec p{
    text-align:left;
    font-family: 'Baloo Da 2', Arial;
    font-weight:400;
    font-size:1.0em;
}
.sec#home{
    background:#001;
}
.homebg{
	position:absolute;
	width:100%;
	height:100%;
	display:block;
    background:url("bgd.png") no-repeat;
    background-position:0 40px;
    background-size:100%;
    object-fit:cover;
    background-attachment:fixed;
    box-sizing:border-box;
}
.sec#about{
	min-height:100vh;
    padding:0px;
    line-height:1.5em;
    font-family: 'Baloo Da 2';
}
 .profile{
     margin:1.5em 0;
     padding:0 20px;
     display:flex;
}
.sec#about .profile .dp{
    display:block;
    width:80px;
    height:80px;
    border-radius:50%;
    background:#514;
    overflow:hidden;
    }
    .dp .dpimg{
    display:block;
    width:100%;
    height:100%;
    background:url("img2.png") no-repeat;
    background-size:100%;
    object-fit:cover;
 }


.sec#about .profile h3{
	padding:10px 0 0 0;
    font-weight:450;
    font-size:1.5em;
    font-family:Arial;
}
.sec#about .profile p{
	padding:5px 0 0 0;
    font-weight:400;
    font-size:.7em;
    opacity:.6;
    color:rgba(82,87,115);
}
 .hello{
	font-size:1.5em;
	color:#0069a7;
}
.sec#about .profile .name{
   margin:0;
   padding:0 15px;
   line-height:1em;
   display:block;
}
.sec#about .profile .sign{
	width:5em;
	height:3em;
	display:block;
	align-items:center;
	background:url("sign.png") no-repeat;
	background-size:100%;
	opacity:.6;
	object-fit:cover;
}
.sec#about p{
    padding:0 20px;
}
.sec#about .phr{
    width:50%;
    height:1px;
    display:block;
    border-radius:20px;
    background:#58c;
    
}
.sec#about .git{
	margin:0 20px;
    padding:7px;
    font-weight:450;
    font-size:1em;
    line-height:1em;
    background:#0069a7;
    color:#def;
    transition:.1s ease-out;
    border-radius:5px;
}
.title{
	margin:0;
	padding:2em 0 0 2em;
    justify-content:center ;
	line-height:1em;
	}
	.title .thr, .skills .title .thr{
	height:2px;
	width:7%;
	margin:5px 0;
    background:rgba(92,97,125);
    border-radius:20px;
    display:block;
   
	}
	.title h2{
	padding:10px;
	font-weight:550;
	font-size:1.5em;
	font-family: 'Baloo Da 2';
	color:rgba(92,97,125);
	}
.sec#about .skills {
	margin:0;
	padding:20px;
    position:relative;
}
.sec#about .skills ul{
	margin:0;
	padding:0;
	display:flex;
	flex-wrap:wrap;
}
.sec#about .skills ul li{
	margin:5px;
	padding:5px;
	line-height:1em;
	width:6em;
	border-radius:20px;
	color:rgb(31,142,156);
	border:2px solid rgb(31,142,156);
    
}
.sec#about .git:hover, .sec#about .git:active{
    background:#005591;
    color:#def;
}
.sec#contact{
    justify-content:center;
    align-items:center;
    font-family: 'Baloo Da 2';
    background:#7285a5;
    
}
.sec#contact .container{
    width:100%;
    height:100%;
    position:absolute;
    justify-content:center;
    align-items:center;
}
.sec#contact .container .row{
    position:absolute;
    width:80%;
    height:80%;
    top:50%;
    left:50%;
    background:#4c516d;
    box-sizing:border-box;
    transform:translate(-50%,-50%);
    align-items:center;
    justify-content:center;
}
.sec#contact .container .form{
    width:100%;
    height:75%;
}
.sec#contact .container .form .input{
    position:absolute;
    top:30%;
    left:50%;
    width:80%;
    transform:translate(-50%,-30%);
}
.sec#contact .container .form .input .txt{
    padding-top:10px;
    margin:20px 0;
    width:100%;
}

.sec#contact .container .form .input .txt .sub,
.sec#contact .container .form .input .txt .msg{
    width:100% !important;
    padding: 0;
    margin-top:10px;
    resize:none;
    outline:none;
    border:none;
    color:#cdf;
    border-bottom:1px solid #abc;
    background:transparent;
}
.sec#contact .container .form .input .txt label{
    position:absolute;
    padding: 0;
    left:0;
    pointer-events:none;
    color:#abc;
}
.sec#contact .container .form .input .txt input:focus,
.sec#contact .container .form .input .txt textarea:focus,
.sec#contact .container .form .input .txt input:valid,
.sec#contact .container .form .input .txt textarea:valid
{
    border-bottom:2px solid #0292b7;
}
.sec#contact .container .form .input .txt input:focus ~label,
.sec#contact .container .form .input .txt textarea:focus ~ label,
.sec#contact .container .form .input .txt input:valid ~ label,
.sec#contact .container .form .input .txt textarea:valid ~ label
{
    font-size:0.85em;
    color:#0292b7;
    font-weight:400;
    transform:translateY(-10px);
}
.sec#contact .row .mail{
    margin:0 30%;
    padding:5px 0;
    transition:0.1s ease-out;
    background:#4568ef;
    box-shadow:0 2px 0 0 #2b304c;
    border-radius:5px;
    text-align:center;
}
.sec#contact .row .mail:hover, .sec#contact .row .mail:active{
    background:#2548af;
    box-shadow:0 1px 0 0 #2b304c;
}

.sec#contact .row .mail a{
    padding:10px;
    color:#def;
}
.sec#contact .row .mail a i{
    padding-right:5px;
}
footer{
	width:100vw;
	height:150px;
	margin:0;
	padding:0;
	position:relative;
	justify-content:center;
	align-items:center;
	background:#4c516d;
}
footer .footer{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
.footer .ftlogo, .icons,.footer p{
    position:absolute;
    margin:10px 0;
    left:50%;
    transform:translateX(-50%);
}
 .footer .icons{
    top:40%;
    display:flex;
}
.footer .icons a{
    text-align:center;
}
.footer .ftlogo{
    top:10%;
    overflow:hidden ;
}
.footer .ftlogo h1{
    font-weight:450;
    font-size:3em;
    line-height:1em;
    font-family:nasalization;
    text-align:center;
    white-space:nowrap;
    color:#3c415d;
}
.footer .ftlogo:before{
    content:"";
    position:absolute;
    left:-5%;
    top:20%;
    width:110%;
    height:115%;
    border-top:1px solid #4568df;
    border-radius:50%;
    transform:rotate(-10deg);
    z-index:-1;
}
.footer p{
    text-align:center;
    padding:0;
    margin:0;
    bottom:5%;
    color:#9ab;
    font-size:.8em;
    font-weight:400;
    font-family:"baloo da 2",Arial;
    white-space:nowrap;
}
.icons a i{
    padding:10px;
    text-align:center;
    color:#abc;
    font-size:1.8em;
    font-weight:;
    text-shadow:0 1px 0 #002;
    white-space:nowrap;
}
.icons i:hover, .icons i:active{
    color:#4c8bf5;
    transition:.15s ease-out;
}
