*{
    margin:0;
    padding:0;
}

body {
}

canvas {
    position: absolute;
    display:block;
    top: 0px;
    left: 0px;
}
    
.sliderctn{
    width:250px;
    background:rgba(0, 16, 32, .5);
    position:fixed;
    user-select:none;
    top:0;
    left:0;
}
.sliderctn .sliderbox{
    width:100%;
    margin:5px 0;
    position:relative;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.sliderctn .sliderbox span{
    position:relative;
    color:#ecf0f1;
    display:block;
    text-align:center;
}
.sliderctn .sliderbox .val{
    background: #ecf0f1;
    margin:0 5px;
    border: 1px solid #bdc3c7;
    font-family:ns;
    color:#0c1011;
    width:2.5rem;
}

.sliderctn .sliderbox .slider{
    -webkit-appearance:none;
    outline:none;
    max-width:100%;
    border-radius:15px;
    height:4px;
    border: 1px solid #bdc3c7;
    background:#898c8d;
    box-shadow:inset -1px 1px 2px #000;
}
.sliderctn .sliderbox .slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow:-2px 2px 5px #000;
}

.sliderctn .sliderbox .slider::-moz-range-track{
    outline:none;
    width:100%;
    border-radius:15px;
    height:20px;
    border: 1px solid #bdc3c7;
    background:#898c8d;
}

.sliderctn .sliderbox .slider::-moz-range-thumb{
    background: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
} 