
.loader{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:var(--dkcol);
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:1000;
    transition:none;
}

.loader div h1{
    font-weight:400;
    font-size:5.5em;
    text-align:center;
    font-family:Arial;
    background:var(--sigcol);
    color:transparent;
    -webkit-background-clip:text;
}
