*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    box-sizing:border-box;
    scroll-behavior:smooth;
 }
 :root{
    --wtcol:#fff;
    --wtcol2:#def;
    --dkcol:#000;
    --btnhv:rgba(112, 128, 144, .3);
    --mobnavbg:#323247;
	 --hmhcol:#0080e0;
 	--hmbg:#121519;
 	--hmbgb:rgba(0, 0, 0, .5);
 	--hnavbg:rgba(30,10,150);
	--navln:#3367c9;
 	--primcol:var(--navln);
 	--primcol1:#4c8bf5;
 	--seccol:#68708b;
 	--bdybg:#323247;
 	--ctnbg:#222237;
 	--bghv:#5695ff;
 	--txtcol:#b4ceee;
 	--txtcol1:#a3bddd;
 	--txtcol2:#819bbb;
 	--txtcol3:#637d9d;
 	--gitcol:#75593d;
 	--glp2col:#4e5572;
 	--glp4col:#662e68;
 	--glp3col:#52423f;
 	--glp1col:#3e4894;
 	--ftbg:#121227;
 	--alrtcol:rgba(200, 20, 50);
 	--sccol:rgba(20, 250, 50);
 	--alrtcol2:rgba(200, 20, 50, .2);
 	--sccol2:rgba(20, 250, 50, .2);
 	--alrtcol3:rgba(200, 20, 50, .5);
 	--sccol3:rgba(20, 250, 50, .5);
 	--glmdlbg:rgba(0,0,16,.7);
 	--bdbgb:rgba(0,0,0,0);
 	--sigcol:linear-gradient(15deg, #005853, #70b8c3, #307883);
	--sigcol1:linear-gradient(15deg, var(--txtcol3), var(--txtcol), var(--txtcol2));
 	--prjctshdcol:linear-gradient(rgb(81,102,126) 30%,rgb(224,240,255),rgb(81,102,126) 70% 100%);
 	--prjctsbgb:linear-gradient(90deg,rgba(0,49,82,.7),rgba(0,45,48,.3));
 	--prjctsbga:linear-gradient(90deg,rgba(0,45,48,.3),rgba(0,59,83,.7));
 }
body{
	font-family:Mon, Pop, Sans-Serif;
    background:var(--bdybg);
}
.maxwid{
	position:relative;
	padding:1rem;
	width:100%;
	max-width:1200px;
}
.noscroll{
    height:100%;
    overflow:hidden;
}
header{
    position:fixed;
    width:100%;
    height:3rem;
    z-index:120;
    transition:.7s ease;
}

header .hdview{
    position:absolute;
    left:50%;
    width:100%;
    height:100%;
    transform:translateX(-50%);
    display:flex;
    padding:0 1rem;
    justify-content:space-between;
    align-items:center;
}
.hdbgmarker{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    background:var(--ftbg);
    transition:.5s ease;
}
.navbg header .hdbgmarker{
    top:-3rem;
}
header .hdview .hdlgctn .hdlg{
    opacity:1;
    display:block;
}
.navbg header .hdview .hdlgctn .hdlg{
    opacity:0;
    transition:.5s ease;
}

.blur header .hdbgmarker{
    top:0;
}
.blur header .hdview .hdlgctn .hdlg{
    opacity:1;
    transition:.5s ease;
}
header .hdview .hdlgctn .hdlg .logo{
    font-size:2.4rem;
}
header .hdview .hdlgctn .hdlg{
	position:relative;
    overflow:hidden;
}
header .hdview .hdclose{
    display:none;
}
.mobile{
    display:none;
}

header .hdview .dsktop .hdmn{
    position:relative;
    display:flex;
    justify-content:space-between;
    align-items:center;
    transition:all .5s ease;
}
.dsktop .hdmn li{
    width:5rem;
    text-align:center;
}
.dsktop .hdmn li a{
    color:var(--txtcol);
    display:block;
    padding:5px 0;
    transition:all .2s ease;
}
nav .hdmn .li a:hover,
nav .hdmn .li a:active{
    color:var(--wtcol2);
    background:var(--btnhv);
}

.hdslide{
    position:absolute;
    pointer-events:none;
    background:var(--navln);
    z-index:-1;
    transition:all .5s ease;
}

section{
	position:relative;
	display:flex;
	flex-direction:column;
	align-items:center;
}
#home{
	background:var(--hmbg);
}
.hmbg{
	width:100%;
	background:url(../imgs/bgd.png) no-repeat;
	background-size:100%;
	display:flex;
	justify-content:center;
}
.hmdiv{
	min-height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:flex-start;
	z-index:1;
}
.hmbg:before{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:var(--hmbgb);
}
::selection{
    background:#715;
    color:var(--txtcol1);
}
.hmdiv .hmlogo{
	padding:.625rem 0;
	text-align:center;
	overflow:hidden;
}
.hmdiv .hmlogo div{
	position:relative;
}
.logo{
	font-family:Arial;
	font-weight:400;
	font-size:4rem;
	background:var(--sigcol1);
	color:transparent;
	-webkit-background-clip:text;
	user-select:none;
}
	
.logo span{
	font-family:Arial;
	position:relative;
	display:inline-block;
	background:var(--sigcol);
	color:transparent;
	-webkit-background-clip:text;
}
.hmlogo .logo span{
	transform:rotate(180deg);
	transition:transform .7s .3s ease;
}
.hmlogo .logo{
	opacity:0;
	transition:opacity .5s .3s ease;
}
.toview .hmlogo .logo{
	opacity:1;
}
	
.toview .logo span{
	transform:rotate(0deg);
}
.hmdiv .hmlogo p{
    color:var(--txtcol1);
    text-align:right;
	line-height:0;
	font-weight:bold;
	font-size:.85rem;
	transform:translateX(-100%);
	transition:transform .7s .4s ease;
}
.toview .hmlogo p{
transform:translateX(0);
}
.logo span .ray{
position:absolute;
width:100%;
left:0;
top:0;
height:100%;
background:linear-gradient(60deg, transparent, transparent, #def, transparent, transparent) no-repeat;
color:transparent;
-webkit-background-clip:text;
background-position:-100px 0;
transition:background 2.5s .8s ease;
}
.toview .logo span .ray{
background-position:100px 0;
}

.info h4, .info p, .info a{
	opacity:0;
	font-family:sans-serif, Arial;
	transform:translateX(20px);
	transition:opacity .5s ease, transform .5s ease;
}
.info h4{
	color:var(--hmhcol);
	font-size:33px;
	font-weight:bold;
	text-align:center;
	white-space:nowrap;
	transition-delay:.8s;
}
.info p{
	font-size:15px;
	font-weight:light;
	text-align:center;
	letter-spacing:2px;
	transition-delay:.9s;
	white-space:nowrap;
}
.info a{
	display:inline-block;
	padding:5px 10px;
	margin-top:40px;
	color:var(--txtcol);
	border:1px solid var(--txtcol);
	border-radius:2px;
	transition-delay:1s;
}
.toview .info h4, .toview .info p, .toview .info a{
	opacity:1;
	transform:translateX(0);
}
.hmdiv .hmp a:hover, .hmdiv .hmp a:active{
	border:1px solid var(--primcol1);
	background:var(--primcol1);
}
.blur .mobile .hdmn li a{
	opacity:1;
	transform:translateX(0);
}
.hmdiv .hmp h4 span{
    color:var(--primcol);
}

.head{
    position:relative;
    padding:40px 0;
    margin:20px 0;
}
.head h2{
    position:absolute;
    color:var(--txtcol);
    text-align:left;
}
.head h2:before{
    content:"";
    position:absolute;
    width:80%;
    height:.2rem;
    top:95%;
    left:50%;
    transform:translate(-50%,-95%);
    background:var(--ftbg);
    border-radius:5px;
    z-index:-1;
}

p{
 color:var(--txtcol1);
}

.inview .prof{
    display:flex;
    align-items:center;
	justify-content:space-around;
}

.prof .dp{
    width:170px;
    opacity:.8;
}
.profp{
	width:70%;
}
.dp img{
    border-left:4px solid var(--ftbg);
}
.profp p{
   color:var(--txtcol);
}
.profp .hello{
 font-weight:900;
 color:var(--primcol);
 padding:10px 0;
 font-size:28px;
}
.profp .ref{
    display:inline-block;
    color:rgba(255, 255, 255, .5);
    font-size:40px;
    float:right;
}

.profp .sign{
    display:inline-block;
    width:5.5rem;
    height:2.5rem;
    background:url(../imgs/hw1.png) no-repeat;
    background-size:100%;
    filter:opacity(.5);
}
#svkil{
	width:100%;
	height:100%;
}
#svkil .maxwid{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:row;
	align-items:flex-start;
	justify-content:center;
}

#services, #skills{
	width:50%;
}
#services{
	margin-right:40px;
}
.svc{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	align-items:center;
}
.svc .viewactive{
	margin:20px 0;
	max-width:400px;
	display:flex;
	flex-direction:row;
	align-items:center;
}
.svc .viewactive .svcon:hover{
	transform:translateY(-10px);
}
.svc .viewactive .svcon{
	width:120px;
	margin-right:20px;
	transition:transform .5s ease;
}

.svcp h3{
	color:var(--txtcol);
	padding:0 0 10px 0;
}
.svcp p{
	color:var(--txtcol2);
}
.git{
	margin:30px 0;
	display:flex;
	width:100%;
	align-items:center;
	justify-content:space-between;
	font-family:Pop, Mon, Sans-Serif;
	background:var(--ctnbg);
}
.git ul{
	display:flex;
	flex-direction:column;
}
.git .user{
    width:100%;
    border-left:3px solid var(--gitcol);
}
.git .sm{
    background:var(--primcol);
}

.git .user li a i{
    padding-right:1rem;
    color:var(--txtcol2);
    font-size:1rem;
}

.git ul li a{
    padding:.8rem;
    display:block;
    text-align:left;
    font-weight:500;
    font-size:.9rem;
    color:var(--gitcol);
    transition:all .5s ease;
}
.git ul li a i{
	text-align:center;
	font-size:1.3rem;
	color:var(--txtcol1);
}
.git ul li a:hover{
	background:var(--btnhv);
	color:var(--txtcol);
}
.skillsview{
    width:90%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transition:all .5s ease;
}
.skills{
    position:relative;
    width:100%;
    height:3.5rem;
    display:flex;
    justify-content:space-between;
    overflow:hidden;
}
.skills span{
    position:relative;
    width:49%;
    height:2.5rem;
    color:var(--txtcol1);
    line-height:2.5rem;
    text-align:center;
    font-weight:bold;
    letter-spacing:4px;
    user-select:none;
    cursor:pointer;
}

.skills span:before{
    content:"";
    position:absolute;
    width:100%;
    height:2.5rem;
    left:0;
    background:var(--ctnbg);
    z-index:-1;
}

.skills #sklmarker{
    position:absolute;
    left:0;
    width:49%;
    height:2.5rem;
    background:var(--primcol);
    transition:0.5s ease;
}
.skills #sklmarker:before{
    content:"";
    position:absolute;
    width:0;
    height:0;
    border:.5rem solid transparent;
    border-top:.5rem solid var(--primcol);
    bottom:-1rem;
    left:50%;
    transform:translateX(-50%);
}
.sklsctn{
    position:relative;
    width:100%;
    display:flex;
    padding:2rem 0;
    flex-direction:column;
    background:var(--ctnbg);
    justify-content:center;
    align-items:center;
    border-radius:4px;
}
#persctn{
    display:none;
}
.sklsbx{
    position:relative;
    width:80%;
    margin:.35rem 0 0 0;
    height:3.5rem;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:all .5s ease;
}
.sklbar{
    width:100%;
    padding:.32rem;
    border:1px solid var(--primcol);
    border-radius:3px;
    color:var(--txtcol1);
}

.sklprog{
    position:absolute;
    width:3.44rem;
    height:3.44rem;
    right:50%;
    display:none;
    border-radius:50%;
    background:conic-gradient(var(--primcol) calc(1% * var(--perc)), var(--seccol) 0);
    transition:all .5s ease;
}

.sklprog span{
    position:absolute;
    width:90%;
    height:90%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border:2px solid var(--ctnbg);
    border-radius:50%;
    background:var(--seccol);
}
.sklprog span p{
    position:absolute;
    color:var(--ctnbg);
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.progactive .sklprog{
    display:flex;
    right:-1rem;
    animation:prg calc(0.7s * 100 / var(--perc)) ease;
}

@keyframes prg{
    0%,30%{right:50%;opacity:0;}
    100%{right:-1rem;}
}

#contact .ctcview{
	position:relative;
	width:100%;
}
#contact .contact{
		position:relative;
		display:flex;
		width:100%;
		align-items:center;
		justify-content:center;
		font-family:Pop;
		padding-bottom:5rem;
	}
	
	#contact .contact .ctcbox{
		width:40%;
		height:350px;
		margin-right:20px;
	}
	#contact .contact .ctcinput{
		width:60%;
		height:350px;
	}
	.contact .ctcbox .git{
		height:100%;
		width:100%;
		margin:0;
		background:transparent;
		border:3px solid var(--ctnbg);
	}

.contact .ctcbox .git .sm{
	background:var(--ctnbg);
	color:var(--primcol);
}

.contact .ctcbox .git .sm i{
	color:var(--primcol);
}
.contact .ctcinput .ctcform{
	background:var(--ctnbg);
	height:100%;
	padding:1.25rem;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-around;
	border:3px solid var(--ctnbg);
}

.smtlrt{
	position:absolute;
	padding:5px 10px;
	display:flex;
	align-items:center;
	opacity:0;
	left:50%;
	bottom:0;
	background:var(--btnhv);
	transform:translateX(-50%);
	justify-content:space-between;
	transition:opacity .5s ease;
	border-radius:20px;
}
.alrtop{
	opacity:1;
}
.smtlrt p{
	text-align:center;
	white-space:nowrap;
	font-size:.8rem;
}
.smtlrt span{
	position:relative;
	display:inline-block;
	padding:5px;
   	margin:0 5px;
	width:15px;
	height:15px;
	border-radius:50%;
}
.smtlrt .sc{
	border:1px solid var(--sccol3);
	background:var(--sccol2);
}
.smtlrt .er{
	border:1px solid var(--alrtcol3);
	background:var(--alrtcol2);
	color:var(--alrtcol);
}
.smtlrt .sc:before{
	content:"";
	position:absolute;
	width:30%;
	height:50%;
	top:45%;
	left:50%;
	transform:translate(-50%, -55%) rotate(45deg);
	border-bottom:2px solid var(--sccol);
	border-right:2px solid var(--sccol);
}
.smtlrt .er:before{
	content:"!";
	position:absolute;
	line-height:25px;
	color:var(--alrtcol);
	font-size:.8rem;
	font-weight:bold;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.contact .ctcinput .ctcform .form {
	width:100%;
}
.contact .ctcinput .ctcform .form .txt{
	position:relative;
	display:flex;
	width:100%;
	margin:1.25rem 0;
	flex-direction:column;
	align-items:center;
	justify-content:space-around;
}
#contact .ctcp{
	margin-bottom:20px;
	padding:5px 0;
}

.contact .ctcinput .ctcform .txt .sub,
.contact .ctcinput .ctcform .txt .msg{
    width:100% !important;
    margin-top:.8rem;
    resize:none;
    outline:none;
    border:none;
    color:var(--txtcol);
    font-family:Mon;
    border-bottom:1px solid var(--txtcol2);
    background:transparent;
    transition:.5s ease;
}

.contact .ctcinput .ctcform .txt label{
    position:absolute;
    left:0;
    pointer-events:none;
    color:var(--txtcol2);
    font-size:1rem;
    transition:all .3s ease;
}
.contact .ctcinput .ctcform .txt input:focus,
.contact .ctcinput .ctcform .txt textarea:focus,
.contact .ctcinput .ctcform .txt input:valid,
.contact .ctcinput .ctcform .txt textarea:valid,
.contact .ctcinput .ctcform .txt input:hover,
.contact .ctcinput .ctcform .txt textarea:hover

{
    border-bottom:1px solid var(--primcol);
    color:var(--txtcol);
}
.contact .ctcinput .ctcform .txt input:focus ~label,
.contact .ctcinput .ctcform .txt textarea:focus ~ label,
.contact .ctcinput .ctcform .txt input:valid ~ label,
.contact .ctcinput .ctcform .txt textarea:valid ~ label,
.contact .ctcinput .ctcform .txt input:hover ~ label,
.contact .ctcinput .ctcform .txt textarea:hover ~ label
{
    font-size:0.9rem;
    color:var(--primcol);
    font-weight:400;
    transform:translateY(-1.25rem);
}

.form .mail{
	margin:2.5rem 0;
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
}
.form .mail button{
	width:100%;
	padding:10px;
	display:block; 
	background:var(--primcol);
	border-radius:2px;
	transition:background .5s ease;
	border:none;
	outline:none;
	user-select:none;
	color:var(--txtcol);
}
.form .mail button i{
	padding-right:5px;
}
.form .mail button:hover, .form .mail button:active{
    background:var(--primcol1);
}

footer{
	width:100%;
	background:var(--ftbg);
	text-align:center;
}
footer .foot .ftlogoc {
	display:flex;
	padding:.75rem 0;
	align-items:center;
	justify-content:center;
}
footer .foot .ftlogoc .ftlogo {
	position:relative;
	overflow:hidden;
	opacity:.5;
}
footer .foot .ftinfo{
	display:flex;
	font-family:Pop;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
}
footer .foot .ftinfo .ftctc .fticons{
	display:flex;
	align-items:center;
	justify-content:space-around;
}
.ftmenu ul li, .ftctc ul li{
    font-size:.85rem;
    font-weight:550;
    color:var(--txtcol1);
}
.foot .ftinfo .ftmenu ul li a, .foot .ftinfo .ftctc ul li a{
    font-size:.8rem;
    font-weight:550;
    color:var(--txtcol2);
}

.foot .ftinfo .ftctc .fticons li{
	margin:.5rem .3rem 0;
	background:var(--ctnbg);
}
.ftinfo .fticons li a i{
	padding:.45rem;
	font-size:1.2rem;
	color:var(--txtcol1);
}
.foot div p .sigcon{
	width:30px;
	height:100%;
	display:inline-block;
	margin:0 30px;
	opacity:.5;
	filter:grayscale(90%);
	transition:all .2s ease;
}
.foot div .sigcon:hover{
	opacity:1;
	filter:grayscale(0);
}
.foot div p{
    padding:1.25rem 0 5px 0;
    font-size:.7rem;
    font-weight:500;
    display:flex;
    justify-content:center;
    align-items:center;
    color:var(--txtcol2);
}
.foot div p a{
	color:var(--txtcol2);
	cursor:pointer;
}
.foot div p i{
	padding:0 5px;
}
.foot .ftinfo ul li a:hover,
.ftinfo .fticons li a i:hover,
.foot div p a:hover{
	color:var(--wtcol2);
}
#projects {
	position:relative ;
	width:100%;
	font-family:Mon;
	user-select:none;
	display:flex;
	flex-direction:column;
	align-items:center ;
}

.prjctsctn{
	width:100%;
	height:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	}
				
.prjctsctn .prjctsview {
   margin:.5rem; 
   position:relative;
}
		
.prjctsctn .prjctsview .prjctsbox{
	width:300px;
	height:100%;
    background:var(--ctnbg);
	padding:.3rem;
	transform:translateY(5rem);
	transition:all .5s ease;
	opacity:0;
}
		
.inview .viewactive{
	transform:translateY(6rem);
	transition:all .7s ease;
	visibility:hidden;
	opacity:0;
}
		
.prjctsctn .prjctsview .prjctsbox .prjctsimgbx{
	position:relative;
	width:100%;
	height:200px;
	overflow:hidden;
	background-size:cover;
	background-position:bottom;
}
				
 .potfo{
	background:url(../imgs/bg1.png) no-repeat;
}
.bricky{
	background:url(../imgs/brick.png) no-repeat;
}
.matrix{
	background:url(../imgs/matrix.png) no-repeat;
}
.frwk{
	background:url(../imgs/frwk2.png) no-repeat;
}
.trails{
	background:url(../imgs/trail.png) no-repeat;
}
.desmos{
	background:url(../imgs/fourier.png) no-repeat;
}
.block{
	background:url(../imgs/block.png) no-repeat;
}
.isomet{
	background:url(../imgs/isomet3d.png) no-repeat;
}
.arrmat{
	background:url(../imgs/arrmat.png) no-repeat;
}
.colr{
	background:url(../imgs/colr.png) no-repeat;
}
.prjctsctn .prjctsview .prjctsbox .prjctshead{
	position:absolute;
	padding:1.25rem; 
	z-index:5;
	opacity:0;
	transition:all .5s ease;
}
				
.prjctsctn .prjctsview .prjctsbox .prjctshead h3{
	font-weight:900;
	font-size:1.6rem;
	background:var(--prjctshdcol);
	color:transparent;
	-webkit-background-clip:text;
	background-clip:text;
}

.prjctsctn .prjctsview .prjctsbox .prjctshead h3:before {
	content:attr(data-text);
	position:absolute;
	text-shadow:1px 1px 5px var(--dkcol);;
	z-index:-1;
}
.prjctsctn .prjctsview .prjctsbox .prjctshead p{
	color:var(--txtcol1);
	text-shadow:1px 1px 3px var(--dkcol);;
}
				
.prjctsimgbx:before{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	background:var(--prjctsbgb);
	border-radius:0 0 50%/100% 0;
	bottom:20%;
}
.prjctsimgbx:after{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	background:var(--prjctsbga);
	border-radius:50%/100% 0 0;
}
				
.prjctsctn .prjctsview .prjctsbox .prjctsbtn ul{
    padding:1.25rem .625rem;
	display:flex;
	justify-content:space-between;
}
.prjctsctn .prjctsview .prjctsbox .prjctsbtn ul li{
	display:inline-block;
	text-align:center;
	width:7rem;
}
.prjctsctn .prjctsview .prjctsbox .prjctsbtn ul li a{
	display:block;
	padding:.45rem 0;
	font-size:.9rem;
	border:1px solid var(--txtcol3);
	color:var(--txtcol3);
	transition:all .3s ease;
	border-radius:2px;
}
.prjctsctn .prjctsview .prjctsbox .prjctsbtn ul li a:active,
.prjctsctn .prjctsview .prjctsbox .prjctsbtn ul li a:hover {
	color:var(--ftbg);
	background:var(--primcol1);
	border:1px solid var(--primcol1);
}
.prjctsview .prjctsbox .prjctsbtn ul li:nth-child(2) a{
	color:var(--ftbg);
	border:1px solid var(--primcol);
	background:var(--primcol);
}
.prjctsctn .toview .prjctsbox, .toview .viewactive{
	opacity:1;
	visibility:visible;
	transform:translateY(0);
	animation:box 1.7s ease;
}
@keyframes box{
	0%{transform:translateY(6rem);opacity:0;}
	50%{transform:translateY(-1rem);opacity:1;}
	100%{transform:translateY(0);}
}
.prjctsctn .toview .prjctsbox .prjctshead{
	transition:.3s .3s ease;
	animation:hdslide 1s .3s ease;
	opacity:1;
}
@keyframes hdslide{
	0%{transform:translateY(3rem);opacity:0;}
	100%{transform:translateY(0);}
}

#gallery{
	width:100%;
}
.glview{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	height:100%;
	justify-content:center;
	align-items:canter;
	transition:all .5s ease;
}
.glctn{
	width:220px;
	background:var(--txtcol1);
	padding:1px;
	margin:.5rem;
	overflow:hidden;
	transition:all .5s ease;
	transform:translateY(5rem);
	opacity:1;
}
.toview .glpbx {
	animation:box 1.5s ease;
	animation-delay:calc(.1s * var(--j));
}
.glimgbx {
     position:relative;
     width:100%;
     transition:all .5s ease;
}
.glimgbx:hover{
	transform:scale(1.2);
}
.glpbx{
	position:relative;
	width:100%;
	padding:1.25rem .3rem;
	transition:all .5s ease;
	user-select:none;
}
.glpbx p{
	position:relative;
	color:var(--txtcol1);
	font-size:.8rem;
	box-shadow:0 0 5px var(--dkcol);
	text-align:center;
	font-family:Pop;
}
.glpbx2 p{
	background:var(--glp2col);
}
.glpbx4 p{
	background:var(--glp4col);
}
.glpbx3 p{
	background:var(--glp3col);
}
.glpbx1 p{
	background:var(--glp1col);
}

.glmdl{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    display:flex;
    visibility:hidden;
    opacity:0;
    background:var(--glmdlbg);
    justify-content:center;
    align-items:center;
    z-index:100;
    overflow-y:auto;
    transition:all .5s  ease;
}
.glmdl .glimgpop{
    position:absolute;
    top:3rem;
    width:50%;
    border:1px solid var(--txtcol1);
    transform:scale(.5);
    visibility:hidden;
    transition:all .5s  ease;
}
.glmdlv{
     visibility:visible;
	 opacity:1;
}
.glmdlv .glimgpop{
	 transform:scale(1);
	 visibility:visible;
	 animation:pop .7s ease;
}
@keyframes pop{
	0%{transform:scale(.5);opacity:0;}
	60%{transform:scale(1.07);}
	100%{transform:scale(1);}
}
.glmdl .glimgpop .glclose {
	position:absolute;
	width:1.875rem;
	height:1.875rem;
	right:0;
	top:0;
	display:flex;
	flex-direction:column;
	justify-content:center;
	background:var(--hmbgb);
	cursor:pointer;
}
.glimgpop .glclose span{
	position:absolute;
	width:100%;
	height:3px;
	border-radius:5px;
	background:var(--txtcol);
	display:block;
	transform:rotate(-45deg);
}
.glimgpop .glclose span:nth-child(1){
    transform:rotate(45deg);
} 
.glmdl .glimgpop .glclose:hover{
	background:var(--btnhv);
}
