
@font-face
 {
 	font-family:ns;
 	src:url(../fonts/nasalization.ttf);
 }

.loader{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    background:var(--dkcol);
    z-index:1000;
}
.frame{
	position:relative;
	width:200px;
	height:200px;
	display:flex;
	align-items:center;
	justify-content:center;
	-webkit-box-reflect:below -150px linear-gradient(0deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
}
.bctn{
	width:70%;
	height:100px;
	border-top:3px solid #666;
	display:flex;
	align-items:flex-end;
	justify-content:center;
}
.bctn .p{
	position:relative;
	width:20px;
	height:100%;
	transform-origin:top;
}
	.p1{animation:tap .8s ease-out infinite;}
	.p5{animation:tip .8s ease-out infinite reverse;}

.bctn .p:before{
	content:"";
	position:absolute;
	display:inline-block;
	top:0%;
	left:50%;
	transform:translateX(-50%);
	width:1px;
	height:50px;
	background:#888;
}
@keyframes tap{
	0%{transform:rotate(0deg);}
	30%{transform:rotate(30deg);}
	50%{transform:rotate(0deg);}
}
@keyframes tip{
	0%{transform:rotate(0deg);}
	30%{transform:rotate(-30deg);}
	50%{transform:rotate(0deg);}
}
.bctn .p .b{
	display:block;
	position:absolute;
	width:20px;
	height:20px;
	bottom:30px;
	border-radius:50%;
	background:radial-gradient(at 75% 25%, #bcd, #111);
}
