
@font-face
 {
 	font-family:ns;
 	src:url(../fonts/nasalization.ttf);
 }

.loader{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    z-index:1000;
    transition:none;
}
.loader div{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	overflow:hidden;
}
.loader div h1{
    width:10rem;
    height:7rem;
    font-weight:400;
    font-size:5rem;
    text-align:center;
    line-height:5rem;
    font-family:ns;
    background:linear-gradient(-60deg, transparent 0%, transparent 30%, #65493d 45%, #deb577 55%, transparent 70%, transparent 100%) no-repeat;
    background-position:-100px;
    background-sgize:50%;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    animation:rotate 2s .5s ease infinite ;
}

@keyframes rotate 
{
     0%{background-position:-100px;}
     100%{background-position:100px;}
}