
@font-face
 {
    font-family:Pop;
 	src:url(../fonts/Poppins.otf);
 }
 
 @font-face
 {
	font-family:Mon;
 	src:url(../fonts/Montserrat.otf);
 }
@font-face
 {
 	font-family:ns;
 	src:url(../fonts/nasalization.ttf);
 }
 

@media screen and (max-width :768px){
	.maxwid{
		padding:1rem;
	}
	header .hdview{
		padding:0;
	}
	header .hdview .hdlgctn .hdlg{
		margin-left:1rem;
	}
	header .hdview .hdclose{
		position:absolute;
		width:1.8rem;
		height:1.5rem;
		display:flex;
		right:1rem;
		top:.75rem;
		flex-direction:column;
		justify-content:space-around;
		align-items:flex-end;
		cursor:pointer;
	}
	header .hdview .hdclose span{
		width:100%;
		height:0.1875rem;
		background:var(--txtcol1);
		transform-origin:center;
		border-radius:10px;
		transition:.5s ease;
	}
	header .hdview .hdclose:hover > span{
		background:var(--wtcol2);
	}
	.hdview .hdclose .mnb2{
		width:70%;
	}
	.hdview .hdclose .mnb3{
		width:40%;
	}
	header .hdview nav{
		display:none;
	}
	.mobile{
		position:fixed;
		display:flex;
		width:100%;
		top:0;
		left:0;
		height:100vh;
		transition:all .5s ease;
		visibility:hidden;
		background:var(--glmdlbg);
		z-index:110;
	}
	
	.mobile .hdmn{
		position:absolute;
		flex-direction:column;
		top:3rem;
		left:0;
		width:75%;
		transform:translateX(-100%);
		display:flex;
		height:calc(100% - 3rem);
		overflow-y:auto;
		visibility:hidden;
		background:var(--mobnavbg);
		justify-content:flex-start;
		transition:all 0.5s ease;
		animation:rgt .7s ease;
		z-index:1;
	}
	
	@keyframes rgt{
		0%{transform:translateX(0);}
		50%{transform:translateX(5%);}
		100%{transform:translateX(-100%);}
	}
	
	.mobile .hdmn li,
	.activea .hdmn li{
		width:100%;
		transition:transform .3s ease;
	}
	.mobile .hdmn .li a,
	.activea .hdmn .li a{
		padding:14px 15px;
		display:block;
		color:var(--txtcol);
		text-align:left;
		transition:all .4s calc(0.1s * var(--mi)) ease;
	}
	.mobile .hdmn li a i,
	.activea .hdmn .li a i{
		padding-right:.65rem;
		display:inline-block;
		color:var(--txtcol3);
		transition:color .3s ease;
	}
	.mobile .hdmn .li a:hover >i,
	.activea .hdmn .li a:hover >i{
		color:var(--wtcol2);
	}
	
	.hdview .active span{
		position:absolute;
		width:100%;
	}
	.hdview .active .mnb3{
		width:100%;
		transform:rotate(135deg);
	}
	.hdview .active .mnb1{
		transform:rotate(225deg);
	}
	header .hdview .active .mnb2{
		transform:scaleX(0);
	}
	header .hdview .hdlgctn .hdlg .logo{
                font-size:2.2rem;
	}
	.logo{
		font-size:2.8rem;
	}
	.hmdiv .hmlogo p{
		font-size:.7rem;
	}
	.info h4{
		font-size:22.5px;
	}
	.info p{
		font-size:9px;
	}
	.inview .prof,
	.toview .prof{
		flex-direction:column;
		align-items:center;
		justify-content:space-around;
	}
	
	.profp{
		text-align:center;
		width:100%;
		padding:40px 0;
	}
	.profp .ref{
		float:none;
	}
	#svkil .maxwid{
		flex-direction:column;
	}

	#skills, #services{
		margin:0;
		width:100%;
	}

	.svc .viewactive{
		flex-direction:column;
		text-align:center;
	}
	.svc .viewactive .svcon{
		width:70px;
		margin-bottom:20px;
	}
	
	.skillsview{
		width:100%;
	}
	.activea{
		position:fixed;
		display:flex;
		width:100%;
		top:0;
		left:0;
		height:100vh;
		transition:all .5s ease;
		background:var(--glmdlbg);
		z-index:110;
		visibility:visible;
		opacity: 1;
	}
	.activea .hdmn{
		transform:translateX(0);
		visibility:visible;
		animation:lft .7s ease;
		position:absolute;
		flex-direction:column;
		top:3rem;
		left:0;
		width:75%;
		display:flex;
		height:calc(100% - 3rem);
		overflow-y:auto;
		background:var(--mobnavbg);
		justify-content:flex-start;
		transition:all 0.5s ease;
		z-index:1;
	}
	@keyframes lft{
		0%{transform:translateX(-100%);}
		50%{transform:translateX(5%);}
		100%{transform:translateX(0);}
	}
	.prjctsctn .prjctsview .prjctsbox{
		min-width:330px;
	}
	
	#contact .contact{
		flex-direction:column;
	}
	
	#contact .contact .ctcbox{
		width:100%;
		height:100%;
		margin-right:10px;
	}
	#contact .contact .ctcinput{
		width:100%;
		height:100%;
	}
	.contact .ctcbox .git{
		height:100%;
		margin-bottom:2.5rem;
	}
	
	.glctn{
		width:150px;
		margin:.3rem;
	}
	.glmdl .glimgpop{
		width:90%;
	}
	.glpbx p{
		font-size:.6rem;
		line-height:1rem;
	}
	.foot div p .sigcon{
		width:20px;
		margin:0 15px;
	}
}

@media screen and (max-height : 330px) and (orientation : landscape){
	.tetctn {
		display:none;
	}
	.ortn{
		display:flex;
	}
}


@media (prefers-color-scheme: dark) {
	:root{
	--wtcol:#fff;
	--wtcol2:#def;
	--dkcol:#000;
	--hmhcol:#008090;
	--btnhv:rgba(112, 128, 144, .3);
	--mobnavbg:#323247;
	--hmbg:#121519;
	--hmbgb:rgba(0, 0, 0, .4);
	--hnavbg:rgba(30,10,150);
	--navln:#3367c9;
	--primcol:var(--navln);
	--primcol1:#4c8bf5;
	--seccol:#68708b;
	--bdybg:#323247;
	--ctnbg:#222237;
	--bghv:#5695ff;
	--txtcol:#b4ceee;
	--txtcol1:#a3bddd;
	--txtcol2:#819bbb;
	--txtcol3:#637d9d;
	--gitcol:#75593d;
	--glp2col:#4e5572;
	--glp4col:#662e68;
	--glp3col:#52423f;
	--glp1col:#3e4894;
	--ftbg:#121227;
	--alrtcol:rgba(200, 20, 50);
	--sccol:rgba(20, 250, 50);
	--alrtcol2:rgba(200, 20, 50, .2);
	--sccol2:rgba(20, 250, 50, .2);
	--alrtcol3:rgba(200, 20, 50, .5);
	--sccol3:rgba(20, 250, 50, .5);
	--glmdlbg:rgba(0,0,16,.7);
	--bdbgb:rgba(0,0,0,0);
	--sigcol:linear-gradient(60deg, #005853, #70b8c3, #307883);
	--prjctshdcol:linear-gradient(rgb(81,102,126) 30%,rgb(224,240,255),rgb(81,102,126) 70% 100%);
	--prjctsbgb:linear-gradient(90deg,rgba(0,49,82,.7),rgba(0,45,48,.3));
	--prjctsbga:linear-gradient(90deg,rgba(0,45,48,.3),rgba(0,59,83,.7));
	}
}
